@using ProjectConakry.DomainObjects
@model Events



<style type="text/css">
    .labelX{
        padding-left: 5px;
    }
</style>

<section id="content" class="container">
@using(Html.BeginForm("Edit", "Events", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.IdString)
        <table style="margin-left: 20px;">
            <tr>
                <td><i class="fa fa-film fa-2x"></i><span class="labelX">Event Name</span></td>
                <td>@Html.TextAreaFor(Model => Model.EventName, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-file fa-2x"></i><span class="labelX">Thumb Nail Image Path</span></td>
                <td>@Html.TextAreaFor(Model => Model.ImageThumbNailPath, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-file fa-2x"></i><span class="labelX">Big ThumbNail Image Path</span></td>
                <td>@Html.TextAreaFor(Model => Model.ImageBigPath, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-calendar fa-2x"></i><span class="labelX">Event Date</span></td>
                <td>@Html.TextAreaFor(Model => Model.EventDate, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-file fa-2x"></i><span class="labelX">Venue</span></td>
                <td>@Html.TextAreaFor(Model => Model.Venue, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-male fa-2x"></i><span class="labelX">Time</span></td>
                <td>@Html.TextAreaFor(Model => Model.Time, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td><i class="fa fa-male fa-2x"></i><span class="labelX">Ticket Price</span></td>
                <td>@Html.TextAreaFor(Model => Model.TicketPrice, new { @class = "form-control input-sm" })</td>
            </tr>
        </table>
        <div style="margin-left: 20px;">
            <br />
            <button class="btn btn-lg" type="submit">Save changes</button>
            <a class="btn btn-lg" href="/Movie">Cancel</a>
        </div>
}

   
</section>