@using ProjectConakry.DomainObjects
@model Movie

@{
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var video = document.getElementById("multiCodec");
        $('#multiCodec').bind('play', function (e) {
            var count = 0;
            if (video.readyState < video.HAVE_FUTURE_DATA)
            {
                    $('#multiCodec').attr("poster", "/images/loader.gif");
                // The user agent is actively trying to download data.
            }
        });

    });
</script>

<!--content-->

<section id="content">
<!--content-inner-->
<div id="content-inner">
    <!--container-->
        <div style="padding-left: 10px; font-size: large;">
            <br />
            <h2>@Model.Name </h2>
            <h2>By: @Model.CoverArtistDisplayName</h2>
            <br />
        </div>
    
        <!--ariyatv-->
        <section id="main-video">
            <video id="multiCodec" poster='@Model.FullSizeImagePath' controls="controls" preload="none" src='@Model.StreamingUrl' style="width: 100%; height: 100%;">
                <!-- id could be any according to you -->
                <!-- MP4 source must come first for iOS -->
                <source type="video/mp4" src="/media/echo-hereweare.mp4">
                <!-- WebM for Firefox 4 and Opera -->
                <source type="video/webm" src="/media/echo-hereweare.webm">
                <!-- OGG for Firefox 3 -->
                <source type="video/ogg" src="/media/echo-hereweare.ogv">
                <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
                <object width="100%" height="100%" type="application/x-shockwave-flash" data="/media/flashmediaelement.swf">
                    <param name="movie" value="/media/flashmediaelement.swf">
                    <param name="flashvars" value="controls=true&amp;poster=@(Model.FullSizeImagePath)&amp;file=@Model.StreamingUrl">
                    <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                    <img src='@Model.FullSizeImagePath' width=" 100%" height="100%" alt="Media" title="No video playback capabilities">
                </object>
            </video>
            <div class="video-detail">
                <h2>@Model.Name <span>@(new Random().Next(1000, 10000))</span></h2>
                <div class="vtitle">@Model.CoverArtistDisplayName</div>
            </div>

            <!--video-social-icon-->
            <div class="vidoe-socialicon">
                <ul>
                    <li>
                        <div class="addthis_toolbox addthis_32x32_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                            <a class="addthis_button_facebook" style="cursor: pointer; display: inline-block"></a>
                            <a class="addthis_button_twitter" style="cursor: pointer; display: inline-block"></a>
                            <a class="addthis_button_google_plusone_share" style="cursor: pointer; display: inline-block"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--video-social-icon-->
        </section>
        <!--ariyatvEND-->
        <div class="clr"></div>

        <section id="container">
            <!--listing-wrapp-->
            <div class="listing-wrap listing-wrap-after-login" data-bind="foreach: sections">
                <h1 data-bind="text: Name">Related Videos</h1>
                <!--topten-->
                <ul class="home-listing" data-bind="foreach: List">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                            <div class="artist-detials">
                                <h2 data-bind="text: Name"></h2>
                                <h4 data-bind="text: ('Director: ' + CoverArtistDisplayName)"></h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                                        <a class="addthis_button_facebook" style="cursor: pointer"></a>
                                        <a class="addthis_button_twitter" style="cursor: pointer"></a>
                                        <a class="addthis_button_google_plusone_share" style="cursor: pointer"></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" data-bind="details: '#'">
                                        <img src="~/images/addtocart-btn.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--listing-wrappEND-->

            <div class="clr"></div>

        </section>
        <!--containerEND-->
        <!--rightsidebar-->
        <!--rightsidebarEND-->
        <div class="clr"></div>
    </div>
<!--content-innerEND-->

</section>
<!--contentEND-->
<div class="clr"></div>
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/detail"></script>
<script type="text/javascript" src="~/App/RequireConfig.js"></script>
<script type="text/javascript">
    // google analytics code
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63070511-1', 'auto');
    ga('send', 'pageview');
</script>

